{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "ProxyServer", 
      "value": "none"
    }, 
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "NodeCommand", 
      "value": ""
    }.
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "GzipCompression", 
      "value": "false"
    }
  ]
}
