{
  "option_settings": [
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "ProxyServer", 
      "value": "apache"
    }, 
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "NodeCommand", 
      "value": "index.js"
    }.
    {
      "namespace": "aws:elasticbeanstalk:container:nodejs", 
      "option_name": "GzipCompression", 
      "value": "true"
    }
  ]
}
